<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chuanqi.yz">
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name   ="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icons"
        android:name="app.BaseApp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="32f471453b276b873eecb6cb7a0b0b47">
        </meta-data>
        <activity
            android:name="activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="activity.LoginActivity" />
        <activity android:name="activity.UserInfoActivity" />
        <activity android:name="activity.SignActivity" />
        <activity android:name="activity.BindPhoneActivity" />
        <activity android:name="activity.FindPassWordActivity" />
        <activity android:name="activity.HowToEarn.HowToEarnActivity" />
        <activity android:name="activity.UpdatePassWordActivity" />
        <activity android:name="activity.ContactUsActivity" />
        <activity android:name="activity.AboutUsActivity" />
        <activity android:name="activity.CommentProblemActivity" />
        <activity android:name="activity.GetDetailActivity" />
        <activity android:name="activity.WithDrawActivity" />
        <activity android:name="activity.BannerLinkActivity" />
        <activity android:name="activity.DoneRecordActivity" />
        <activity android:name="activity.BindWxAccountActivity" />
        <activity android:name="activity.ApprenticeListActivity" />
        <activity android:name="activity.NoticeActivity" />
        <activity android:name="activity.Red.SendRedActivity" />
        <activity android:name="activity.Red.UpdateRedActivity" />
        <activity android:name="activity.Red.TakeRedActivity" />
        <activity android:name="activity.UnitTaskActivity" />
        <activity android:name="activity.FaskTaskActivity" />
        <activity android:name="activity.OneShopActivity" />
        <activity android:name="activity.BindAliPayActivity" />
        <activity android:name="activity.IntoMoneyJqzActivity" />
        <activity android:name="activity.FaskTaskDetailActivity" />
        <activity android:name="activity.NewerTaskActivity" />
        <activity android:name="activity.Red.LookRedRecordActivity" />
        <activity android:name="activity.Red.RedTxDetailActivity" />
        <activity android:name="activity.Red.TakeRedRulesActivity" />
        <activity android:name="activity.GetApprenticeActivity" />
        <activity android:name="activity.JXZActivity" />
        <activity android:name="activity.ShowBoxPriceActivity" android:theme="@style/loginDialog"/>
        <activity android:name="activity.OpenBoxActivity" />
        <activity android:name="activity.ShowRedPriceActivity" android:theme="@style/loginDialog"/>
        <activity android:name="activity.JxzGetDetailActivity" />
        <activity android:name="activity.HelpCenterActivity" />
        <activity android:name="activity.HowToEarn.EarnFirstMoneyDetailActivity" />
        <activity android:name="activity.HowToEarn.ShiTuDetailActivity" />
        <activity android:name="activity.HowToEarn.JxzTzDetailActivity" />
        <activity android:name="activity.KownPlatformActivity" />
        <activity android:name="activity.HowToEarn.ShopDetailActivity" />
        <activity android:name="activity.HowToEarn.RedDetailActivity" />
        <service android:name="cn.dow.android.DService" />
        <!-- 点入积分墙配置 -->
        <meta-data
            android:name="DR_APPKEY"
            android:value="@string/app_key" />
        <!-- 点乐积分墙配置 -->
        <meta-data
            android:name="com.dlnetwork.cid"
            android:value="default" />
        <meta-data
            android:name="D_PPID"
            android:value="96ZJ2xZwzeDzPwTBK+" />
        <!-- 有米积分墙配置 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>
        <service
            android:name="net.youmi.android.ExpService"
            android:exported="false" >
        </service>
        <receiver
            android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 配置微信回调的activity -->
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <service android:name="com.newqm.pointwall.AppStartListenService"> </service>
        <!-- 万普 -->
        <!--<activity android:name="cn.waps.extend.AppWall" android:configChanges="keyboardHidden|orientation" />-->
        <!-- MOb一键分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent1105587215" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 高德地图定位 -->
        <service android:name="com.amap.api.location.APSService"></service>
        <!-- 微信支付 -->
        <receiver
            android:name=".wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- 点入积分墙 -->
        <receiver
            android:name="com.yql.dr.pkg.LocalAppContrast"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.yql.dr.sdk.ProcessService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.yql.dr.sdk.DRService"
            android:enabled="true"
            android:exported="false" />
        <!-- 点入积分墙 -->
        <activity
            android:name="com.yql.dr.sdk.DRActivity"
            android:enabled="true"
            android:exported="false"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 点乐积分墙 -->
        <activity android:name="com.dlnetwork.DevNativeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation"/>
        <service android:name="com.dlnetwork.DevNativeService" />
    </application>
</manifest>
